<!DOCTYPE html>
<html dir="rtl">
<head>
	<link rel="stylesheet" type="text/css" href="/assets/dist/css/bootstrap.rtl.min.css">
	<link rel="stylesheet" type="text/css" href="/example/css/cheetsheet.rtl.css">
	<title>{{ title }}</title>
</head>
<body>
	 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">گلدن گلدان</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ثبت نام/ ورود</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">راهنمای استفاده</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="جستجو">
          <button class="btn btn-outline-success" type="submit">جستجو</button>
        </form>
      </div>
    </div>
  </nav>

  <main>
  	<div class="d-flex align-items-center">
  	<div class="row container-fluid">
  		<article class="my-3" id="card">
      <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>گلدان شماره یک </h3>
      </div>

      <div>
        <div class="bd-example">
        <div class="row  row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

              <div class="card-body">
                <h5 class="card-title">گلدان</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">آبیاری </a>
              </div>
            </div>
          </div>       
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </article>
  	</div>
  	</div>
  </main>
  <script type="text/javascript" src="/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/example/js/cheetsheet.js"></script>
</header>

</body>
</html>

